<div class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover" id="modal-id">
  <div style="" class="absolute bg-black opacity-50 inset-0 z-0"></div>
 <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
   <!--content-->
   <div class="">
     <!--body-->
     <div class="text-center p-5 flex-auto justify-center">
             <i class="fas fa-check-circle text-6xl flex items-center text-red-500 mx-auto text-green-500"></i>
                     <h2 class="text-xl font-bold pt-3 pb-4 ">Your Form Has Been Sent!</h3>
                     <p class="text-sm text-gray-500 px-8">Your form has been successfully submitted,  <u>you will receive a copy of this form to your email.</u></p>    
     </div>
     <!--footer-->
     <div class="p-3  mt-2 text-center space-x-4 md:block">
         <a onclick="refreshPage()" class="cursor-pointer mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-lg hover:bg-gray-100">
             Close
         </a>
     </div>
   </div>
 </div>
</div>
<script>
  function refreshPage(){
    window.location.replace("/");
  }
</script>