<!DOCTYPE html>
<html lang="en" class="bg-gray-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://unpkg.com/pattern.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d89c1ce52.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- VUE -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <title>Merchant Services Referral Form</title>
    
</head>
<body class="bg-gray-100">
    <!-- <div class="fixed mr-3 mt-3 z-10 right-0">
        <div class='flex max-w-sm w-full bg-white shadow-md rounded-lg overflow-hidden mx-auto'>
            <div class='w-2 bg-red-500'></div>
    
            <div class='flex items-center px-2 py-3'>                
                <div class='mx-3'>
                    <p class='text-gray-600 text-sm font-semibold'>Notification:</p>
                    <p class='text-gray-600'>Office closed</p>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Background  -->
    <div class="page-bg">
        <svg style="position:absolute; width:100%; left:0; bottom:0;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#F7FAFC" fillOpacity="1" d="M0,320L120,309.3C240,299,480,277,720,272C960,267,1200,277,1320,282.7L1440,288L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
        </svg> 
    </div>
    

    <div id='main' class="animate__animated animate__fadeIn"> <!-- animate__faster -->
        
