<%- include('../partials/header') %>
<style>

.file-drop-area {
  border: 1px dashed #7c7db3;
  border-radius: 3px;
  position: relative;
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  padding: 26px 20px 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.file-drop-area.is-active {
  background-color: #3F4069;
}

.fake-btn {
  background-color: #3F4069;
  border: 1px solid #9E9EC4;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 130px);
  vertical-align: middle;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-input:focus {
  outline: none;
}

  [v-cloak] {display: none}
  .toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
  }

  input[type="range"]{
    -webkit-appearance: none !important;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }
  input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: rgb(53, 124, 231);
      margin-top: -4px;
  }
  input[type=range]:focus {
      outline: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
      background: #ccc;
  }

  input:checked~.toggle__dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }
  .page-bg{
    background-color: #2061BD; background-image:linear-gradient(to right, rgba(0,129,201,1),rgba(0,129,201,0.76));
    background-size: 1950px; 
    background-position-y: 1700px;
  }
  label{
    padding-top: 3px;
  }
  select.error, textarea.error, input.error {
    border-color:#FF0000;
  }
  input[type="search"] {
    -webkit-appearance: none;
  }
  input[type="text"]{
    -webkit-appearance: none;
  }
  input[type="number"]{
    -webkit-appearance: none;
  }
  hr.style4 {
    border-top: 1px dotted #8c8b8b;
  }
</style>
<!-- Header -->
<!-- INFO: background template is in partials/header, styling is in the style tag above  -->
<div class="mx-auto">
<form action='/' method="POST" enctype="multipart/form-data">
  
  <div id="form-success" class="hidden">
      <%- include('../partials/forms_success') %>
    </div>

    
  <div id="toasty"></div>
  <div class="container relative  mt-4  lg:px-10 w-3/4 mx-auto">
    <div class="container mx-auto mb-3">
      <div>
        <img style="height: 50px; width: auto;" src="/images/zimmerlogo_40.png"/>
    </div>
    <div class="bg-white shadow rounded mt-5 py-5 px-8">
      <div class="grid grid-cols-2">
        <p class="font-bold col-span-2 text-gray-900 mb-5 text-4xl lg:text-2xl md:text-4xl sm:text-4xl hidden lg:block ">Merchant Services Referral Form</p> 
        <hr class="col-span-2 style4">
      </div>
      
      <br/>
      <!-- FORM -->
      <div id="referralForm" class="grid grid-cols-2 gap-3">    

        <div class="flex flex-col col-span-2">
          <label class="font-medium text-sm text-gray-900" for="companyname">Company name</label>
          <input required  autocomplete="nah" type="text" v-model="companyname" name="companyname" id="companyname" placeholder="" class=" w-100 mt-2 py-2 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 shadow-sm dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none">
        </div>
        <div class="flex flex-col col-span-2">
          <label class="font-medium text-sm text-gray-900" for="contactname">Contact name</label>
          <input required  autocomplete="nah" type="text" v-model="contactname" name="contactname" id="contactname" placeholder="" class=" w-100 mt-2 py-2 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 shadow-sm dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none">
        </div>
        <div class="flex flex-col col-span-1">
          <label class="font-medium text-sm text-gray-900" for="phone">Phone</label>
          <input required  autocomplete="nah" type="text" v-model="phone" name="phone" id="phone" placeholder="" class=" w-100 mt-2 py-2 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 shadow-sm dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none">
        </div>
        <div class="flex flex-col col-span-1">
          <label class="font-medium text-sm text-gray-900" for="email">Email</label>
          <input required  autocomplete="nah" type="text" v-model="email" name="email" id="email" placeholder="" class=" w-100 mt-2 py-2 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 shadow-sm dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none">
        </div>
        <div class="flex flex-col col-span-2">
          <label class="font-medium text-sm text-gray-900" for="referringagent">Agent</label>
          <select required  autocomplete="nah" type="text" v-model="referringagent" name="referringagent" id="referringagent" placeholder="" class=" w-100 mt-2 py-2 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 shadow-sm dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none">
            <option selected value="Choose...">Choose...</option>
            <option v-for="agent in agents" :value="agent.id">{{agent.first_name}}</option>
          </select>
        </div>
        <div class="flex flex-col col-span-2 mt-1">
          <label class="font-medium text-sm text-gray-900 py-2" for="file">Upload Merchant Statement</label>
          <input type="file" id="file" name="filename"> 
        </div>


        <!-- <div class="file-drop-area">
          <span class="fake-btn">Choose files</span>
          <span class="file-msg js-set-number">or drag and drop files here</span>
          <input class="file-input" type="file" multiple>
        </div> -->


        <div class="block">
          <button id="submit-button" class="flex bg-color-aloha hover:bg-blue-700 px-3 py-2 mt-4 mb-3 rounded text-white font-semibold">
            <span id="submit-text">Submit</span>
            <div class="lds-ring align-center ml-2 hidden"><div></div><div></div><div></div><div></div></div>
          </button>   
        </div>
        
      </div>   
    </div>
  </div>
</div>
</form>
</div>
  
<%- include('../partials/footer') %>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

<script src="/script/cr_validation.js"></script>
<script>

  const referralForm = Vue.createApp({
    data(){
        return{
          loading: false,
          focus: false,
          referringagent:'',
          agents:[],
          submitSuccess: false,
          companyname:'',
          contactname:'',
          city:'',
          phone:'',
          email:'',
          acceptscreditcards:'yes',
          comments: '', 
          file: ''    
        }
    },
    mounted(){
      var agents  = JSON.parse(`<%- data %>`)
      var newArray = []
      agents.forEach(element => {
        if (element.type ==='agent'){
          newArray.push(element)
        } 
      });
      this.agents = newArray
    },
    watch:{
      referringagent: function(val, oldval){
        // console.log(val)
      }
    },
    methods:{
      submit: function(){
        this.loading = true

        axios.post('/',{
          companyname: this.companyname,
          contactname: this.contactname,
          phone: this.phone,
          email: this.email,
          referringagent:this.referringagent,
          file: this.file
        }).then(res =>{
          this.submitSuccess = true
          // window.scrollTo(0, 0);
          // location.reload()
        }).catch(err => alert("An error occurred please reload and try again"))
      }
    }    
})

referralForm.mount('#referralForm')

  //Toast success message then delete localstorage variable
  var formsuccess = '' || localStorage.getItem('form-success')
  if(formsuccess === 'success'){
    $('#toasty').append(`
    <div class="success-toast animate__animated animate__bounceInRight bg-green-100 border-t-4 border-green-500 rounded-b text-green-darkest px-4 py-3 my-2 fixed absolute top-10 right-0" role="alert">
      <div class="flex">
        <i class="fas fa-check-circle h-6 w-6 text-green-500 mr-4 text-2xl"></i>
        <div>
          <p class="font-bold">Form successfully submitted</p>
          <p class="text-sm"> A copy of your order will be sent to your email</p>
        </div>
      </div>
    </div>
    `)
    // $('.success-toast').removeClass('hidden')
    localStorage.removeItem('form-success');
    //Hide Toast
    setTimeout(
    function() 
    {
      $('.success-toast').addClass('animate__animated animate__fadeOut')
    }, 7000);
  }
</script>
